{%extends "base.html"%}
{%load templatefunctions%}

{%block content%}

<div>

    <h5>20 Day Futures Buildup</h5>

    <!-- Form to get list of symbols to analyze the 20-day futures Buildup -->
    <form method="POST" action="/gen20DFuturesBU" style="max-width: 700px;">
        {% csrf_token %}

        <div style="margin-bottom: 10px;">
            <textarea id="symbol_list" name="symbol_list" placeholder="Enter a comma-separated symbol list" style="width: 100%; padding: 5px;" rows="4"></textarea>
        </div>
        <div  >
            <button type="submit" class="refresh-data" name="btnFuturesBU" style="width: 50%;">Calculate 20 Day Futures Data</button>
        </div>

        
    </form>
    <div>      <!--     button to generate Complete Futures Analysis file       -->
        <a href="/completeFuturesAnalysis" >
        <button  class="refresh-data" name="generateCompleteFuturesAnalysis" style="width: 25% "> Generate Complete Futures Analysis
        </button>
        </a>
    </div>
</div>
<br><br>
<div>

    <h5>20 Day Options OI</h5>

    <!-- Form to get list of symbols to update options OI data for the last 20 days  -->
    <form method="POST" action="/gen20DOptionsOI" style="max-width: 700px;">
        {% csrf_token %}

        <div style="margin-bottom: 10px;">
            <textarea id="symbol_list" name="symbol_list" placeholder="Enter a comma-separated symbol list" style="width: 100%; padding: 5px;" rows="4"></textarea>
        </div>
        <div>
            <button type="submit" class="refresh-data" name="btnOptionsOI" style="width: 50%;">Update 20 day Options OI</button>
        </div>
    </form>



</div>

{%endblock%}